/* #region BetterDiscord */
/**
 * BetterDiscord Module
 * Styling for BetterDiscord specific components
 * (Settings, Stores, Alerts, etc.)
 */

.userArea-3bXkXc {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
}

/* #endregion BetterDiscord */
