/* #region D-Channels */
/**
 * Channels Module
 * Styling for server channels and related components
 */

.channels-3bXkXc {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
}

/* #endregion D-Channels */
